version: "3.4"
services:
  appbase:
    container_name: appbase
    image: appbaseio/arc:7.42.0
    restart: always
    command: --env="/appbase-data/.env"
    depends_on:
      - "appbase_configure"
    volumes:
      - "appbase-data:/appbase-data"
    ports:
      - 8000:8000
  nginx:
    container_name: appbase_nginx
    image: nginx:1.17-alpine
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf
      - ./appbase-logo.svg:/etc/nginx/html/appbase-logo.svg
      - ./nginx/certs:/etc/ssl/certs/
      - ./nginx/error.html:/etc/nginx/html/50x.html
      - "www:/var/www/html"
    ports:
      - 80:80
      - 443:443
    links:
      - appbase_configure
  fluentbit:
    image: fluent/fluent-bit:1.5
    user: root
    container_name: fluentbit
    command: /fluent-bit/bin/fluent-bit -c /fluent-bit/etc/fluent-bit.conf
    depends_on:
      - "appbase"
      - "appbase_configure"
    restart: always
    volumes:
      - "./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf"
      - "./parser.conf:/fluent-bit/etc/parser.conf"
      - "appbase-data:/appbase-data"
  appbase_configure:
    container_name: appbase_configure
    image: appbaseio/arc-config:0.2.6
    restart: always
    volumes:
      - "appbase-data:/appbase-data"
      - "www:/var/www/html"
      - "/var/run/docker.sock:/var/run/docker.sock"
volumes:
  appbase-data:
    external: false
    name: appbase-data
  www:
    external: false
    name: www
