version: "3.4"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.3.0
    container_name: elasticsearch
    restart: always
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - http.port=9200
      - http.cors.enabled=true
      - http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
      - http.cors.allow-credentials=true
      - network.publish_host=_local_
      - network.host=_local_,_site_
      - transport.host=127.0.0.1
      - http.host=0.0.0.0
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - reactivesearch_network

  reactivesearch-api:
    container_name: rs-api
    image: appbaseio/reactivesearch-api:9.2.0
    restart: always
    depends_on:
      - elasticsearch
    environment:
      - USERNAME=rs-admin-user
      - PASSWORD=rs-password
      - SET_SNIFFING=false
      - ES_CLUSTER_URL=http://elasticsearch:9200
    volumes:
      - "reactivesearch-data:/reactivesearch-data"
    ports:
      - 8000:8000
    networks:
      - reactivesearch_network

  fluentbit:
    image: fluent/fluent-bit:4.0.8
    user: root
    container_name: fluentbit
    command: /fluent-bit/bin/fluent-bit -c /fluent-bit/etc/fluent-bit.conf
    depends_on:
      - reactivesearch-api
    restart: always
    volumes:
      - "./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf:ro"
      - "./parser.conf:/fluent-bit/etc/parsers.conf:ro"
      - "reactivesearch-data:/reactivesearch-data"
      - "fluent-bit-state:/fluent-bit/state"
    networks:
      - reactivesearch_network

volumes:
  reactivesearch-data:
    external: false
  fluent-bit-state:
    external: false
    name: fluent-bit-state

networks:
  reactivesearch_network:
    driver: bridge
